
.wrapper {
  width: 80%;
}

.container {
  margin-top: 4vh;
  max-width: 360px;
}

.fret-end {
  border-right: 2px solid black;
}

.fret-bottom {
  border-bottom: 2px solid black;
}

.guitar-grid {
  border-top: 2px solid #bfbfbf;
  border-left: 2px solid black;

  height: 80px;
}
.above-fret {
  margin-top: 20px;
}

.fret-begin {
  border-top: 8px solid black;
}

/* Open / Closed Notes */
.string-check {
  position: absolute;
  left: -12px;
  bottom: -10px;
  font-size: 35px;
}

.last-string-check {
  position: absolute;
  right: -10px;
  bottom: -10px;
  font-size: 35px;
}

.string-check:hover, .last-string-check:hover {
  color: #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* finger down markers */
.checkmark {
  position: absolute;
  left: -23px;
  top: 15px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.last-checkmark {
  position: absolute;
  right : -24px;
  top: 11px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.checkmark:hover, .last-checkmark:hover {
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.barre-input-wrapper {
  padding-left: 10px;
}

/* barre graphic */
.barre-overlay {
  position: absolute;
  float: right;
  margin-top: 25px;
  height: 20px;
  border-radius: 15px;
}

/* barre the whole fret */
.barre-overlay-6 {
  background-color: black;
  border: 10px solid black;
  margin-left: -10px;
  width: 67%;
  max-width: 300px;
}

/* barre all but E */
.barre-overlay-5 {
  background-color: black;
  border: 10px solid black;
  margin-left: 50px;
  width: 51%;
  max-width: 240px;
}

/* barre all but E and A */
.barre-overlay-4 {
  background-color: black;
  border: 10px solid black;
  margin-left: 110px;
  width: 180px;
}
@media only screen and (max-width: 420px) {
.barre-overlay-4 {
    width: 35%;
    transition: width 0.2s;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#barre-input {
  width: 30px;
}
